.actions {
  position: relative;
  height: 230px; }
  .actions .description {
    position: absolute;
    top: 100px;
    width: 31.62393%; }
  .actions .btn {
    position: absolute;
    top: 210px; }

.components .component {
  padding-top: 30px;
  padding-right: 5%;
  width: 40%;
  float: left; }
