.actions
  position: relative 
  height: 220px

  .description
    position: absolute
    top: 100px
    width: 31.623931623931625%


  .btn
    position: absolute
    top: 190px

.components
  .component
    padding-top: 30px
    width: 50%
    float: left
